SERVER_PORT=8080
SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/hobbie_backend_db_prod?allowPublicKeyRetrieval=true&useSSL=false&createDatabaseIfNotExist=true&useUnicode=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=local_dev_password
JWT_SECRET=replace-with-secret-manager-value
CLOUDINARY_API_KEY=replace-me
CLOUDINARY_API_SECRET=replace-me
CLOUDINARY_CLOUD_NAME=replace-me
MAIL_USERNAME=replace-me
MAIL_PASSWORD=replace-me
